# =========================
# Ingestion Service
# =========================
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__IngestionWriteDatabase=Host=postgres;Port=5432;Database=ingestion;Username=postgres;Password=Y0uRStr0ngP@SSWorD;
ConnectionStrings__IngestionReadDatabase="mongodb://mongodb:27017/"
ConnectionStrings__Redis=redis:6379
ConnectionStrings__Kafka=kafka:9092
MinIO__Host=minio
MinIO__Port=9000

# =========================
# PostgreSQL
# =========================
POSTGRES_DB=ingestion
POSTGRES_USER=sentinel_user
POSTGRES_PASSWORD=TrocaEssaSenha123

# =========================
# MongoDB
# =========================
MONGO_INITDB_ROOT_USERNAME=sentinel_user
MONGO_INITDB_ROOT_PASSWORD=TrocaEssaSenha123

# =========================
# MinIO
# =========================
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
